footer {
  background: $background-color;
  color: white;
  min-height: 10vh;
  padding: 0% 5%;
  @include flex(flex-start, center, row);
  ul {
    flex: 1 1 40rem;
    @include flex(space-around, center, row);
  }
  h4 {
    flex: 1 1 40rem;
  }
<<<<<<< HEAD
}
=======
}
>>>>>>> bcd5fbcc5d0237d918dc3107f3fae3c6fb27f14c
